numpy==1.23.4
loguru
scikit-image
Pillow
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
PyYAML
easydict
cython
opencv-python
pandas
tqdm
pycocotools
jpeg4py
tb-nightly
tikzplotlib
colorama
lmdb
scipy
visdom
timm
yacs
einops
thop
pudb
matplotlib
timm>=0.9
torch
torchvision>=0.13,<0.16.0
wheel
scikit-learn
openai-clip
decord
requests
pyyaml
pyiqa==0.1.10
lvis
fairscale>=0.4.4
fvcore
urllib3
boto3
omegaconf
transformers==4.33.2
pycocoevalcap
gdown
cython_bbox