numpy
loguru
scikit-image
Pillow
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
PyYAML
easydict
cython
opencv-python
pandas
tqdm
pycocotools
jpeg4py
tb-nightly
tikzplotlib
colorama
lmdb
scipy
visdom
timm
yacs
einops
thop
pudb